---
import Layout from "../layouts/Layout.astro";
import ProductFilter from "../components/CategoryFilter.tsx"
---
<Layout title="contact">
    <section class="bg-white dark:bg-gray-900">
        <ProductFilter client:load/>
    </section>
</Layout>

