---
import Layout from "../layouts/Layout.astro";
import SendTicketForm from "../components/SendTicketForm";
---
<Layout title="contact">
    <section class="bg-white dark:bg-gray-900">
        <SendTicketForm client:load/>
    </section>
</Layout>
