---
import Layout from "../layouts/Layout.astro";
import SendTicket from "../components/sendTicket.astro";
---
<Layout title="contact">
    <section class="bg-white dark:bg-gray-900">
        <SendTicket/>
    </section>
</Layout>

