---
import type { ImagePath } from '../types/categories';
interface Props {
    id:number,
    name:string,
    image:ImagePath,
    numberOfItems:number
}

const { id, name, numberOfItems, image } = Astro.props;
const imageUrl = image && image.image_path.primary ? image.image_path.primary : '/images/placeholder.png';
---
<div class="max-w-sm bg-local border-gray-200 rounded-lg shadow h-64 w-100 dark:bg-gray-800 dark:border-gray-700" style={`background-image: url(${imageUrl});  background-size: cover`}>
    <div class="flex flex-col justify-between h-full p-4 bg-white bg-opacity-10 dark:bg-gray-900 dark:bg-opacity-30">
        <div>
            <h3 class="text-4xl text-white font-semibold dark:text-gray-200">{ name }</h3>
            <p class="text-sm text-gray-100 dark:text-gray-300">{ numberOfItems } productos</p>
        </div>
        <a href={`/categorias/${name.toLocaleLowerCase()}/1`} class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 bg-opacity-90 focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" style="width: 32%;">Ver productos</a>
    </div>
</div>