<div class="">
    <div class="flex items-center justify-center my-8">
        <h3 class="text-gray-900 text-4xl font-semibold dark:text-white">
            Festivales
        </h3>
    </div>
    <div class="grid grid-rows-1 grid-flow-col gap-4 my-8">
        <div class="flex items-center justify-center">
            <img src="/festival_arre.png" alt="image" class="w-2/3 h-auto" title="flow-festival">
        </div>
        <div class="flex items-center justify-center ">
            <img src="/logo-coca-grande.png" alt="image" class="w-2/3 h-auto" title="arre-festival">
        </div>
        <div class="flex items-center justify-center">
            <img src="/edc.png" alt="image" class="w-2/3 h-auto" title="edc-festival">
        </div>
    </div>
</div>