<div class="py-24">
    <div class="flex items-center justify-center my-8">
        <h3 class="text-gray-900 text-4xl font-semibold dark:text-white">
            Festivales
        </h3>
    </div>
    <div class="grid grid-rows-2 grid-flow-col gap-4 my-8 lg:grid-rows-2 md:grid-rows-3 sm:grid-rows-3">
        <div class="flex items-center justify-center">
            <img src="/festivals/festival_arre.png" alt="image" class="w-2/3 h-auto" title="flow-festival">
        </div>
        <div class="flex items-center justify-center ">
            <img src="/festivals/logo-coca-grande.png" alt="image" class="w-2/3 h-auto" title="arre-festival">
        </div>
        <div class="flex items-center justify-center">
            <img src="/festivals/edc.png" alt="image" class="w-2/3 h-auto" title="edc-festival">
        </div>
        <div class="flex items-center justify-center">
            <img src="/festivals/corona.png" alt="image" class="w-2/3 h-auto" title="flow-festival">
        </div>
        <div class="flex items-center justify-center ">
            <img src="/festivals/f1.jpeg" alt="image" class="w-2/3 h-auto" title="arre-festival">
        </div>
        <div class="flex items-center justify-center">
            <img src="/festivals/tecate.png" alt="image" class="w-3/3 h-auto" title="edc-festival">
        </div>
    </div>
</div>