<section id="how-to-buy">
  <div class="container mx-auto my-8 p-8 rounded shadow-lg">
    <!-- Contenido del proceso de compra -->
    <h1 class="text-2xl font-bold mb-4 dark:text-white">Proceso de Compra</h1>

    <!-- Pasos del proceso de compra -->
    <div class="flex items-center mb-8">
      <div class="flex-shrink-0 w-8 h-8 flex items-center justify-center bg-green-500 text-white rounded-full">1</div>
      <div class="ml-4">
        <h2 class="text-lg font-semibold dark:text-white">
            Selecciona tus productos en 
            <a href="/catalogo"> Catálogo</a>
        </h2>
        <p class="dark:text-white">Elige los artículos que deseas comprar.</p>
      </div>
    </div>

    <div class="flex items-center mb-8">
      <div class="flex-shrink-0 w-8 h-8 flex items-center justify-center bg-green-500 text-white rounded-full">2</div>
      <div class="ml-4">
        <h2 class="text-lg font-semibold dark:text-white">Revisa tu ticket</h2>
        <p class="dark:text-white">En la sección de ticket, revisa tus artículos y coloca tus datos de contacto.
        <br/>
        Puedes solicitar articulos fuera de nuestro catálogo en el ticket!</p>
      </div>
    </div>

    <div class="flex items-center">
      <div class="flex-shrink-0 w-8 h-8 flex items-center justify-center bg-green-500 text-white rounded-full">3</div>
      <div class="ml-4">
        <h2 class="text-lg font-semibold dark:text-white">Envía tu ticket</h2>
        <p class="dark:text-white">Una vez con todos tus productos, selecciona "Enviar pedido", y en breve te contactaremos para confirmar tu compra y generar tu pago!</p>
      </div>
    </div>

  </div>
</section>