<div class="py-24">
    <div class="flex items-center justify-center my-8">
        <h3 class="text-gray-900 text-4xl font-semibold dark:text-white lg:text-6xl md:text-4xl">
            Trabajamos con las siguientes marcas
        </h3>
    </div>
    <div class="grid grid-rows-4 grid-flow-col md:grid-rows-4 sm:grid-rows-4 gap-4 my-8">
        <div class="flex items-center justify-center">
            <img src="/branches/cocalogo.png" alt="image" class="w-2/3 h-auto" title="flow-festival">
        </div>
        <div class="flex items-center justify-center ">
            <img src="/branches/Pepsi_logo.png" alt="image" class="w-2/3 h-auto" title="arre-festival">
        </div>
        <div class="flex items-center justify-center">
            <img src="/branches/Penafiel_Logo.png" alt="image" class="w-2/3 h-auto" title="edc-festival">
        </div>
        <div class="flex items-center justify-center">
            <img src="/branches/corona.png" alt="image" class="w-2/3 h-auto" title="flow-festival">
        </div>
        <div class="flex items-center justify-center ">
            <img src="/branches/Jarritos_Logo.png" alt="image" class="w-2/3 h-auto" title="arre-festival">
        </div>
        <div class="flex items-center justify-center">
            <img src="/branches/pinollogo.png" alt="image" class="w-2/3 h-auto" title="edc-festival">
        </div>
        <div class="flex items-center justify-center">
            <img src="/branches/Unilever.png" alt="image" class="w-2/3 h-auto" title="flow-festival">
        </div>
        <div class="flex items-center justify-center ">
            <img src="/branches/moctezuma.png" alt="image" class="w-2/3 h-auto" title="arre-festival">
        </div>
        <div class="flex items-center justify-center">
            <img src="/branches/colgate.png" alt="image" class="w-2/3 h-auto" title="edc-festival">
        </div>
        <div class="flex items-center justify-center">
            <img src="/branches/vingolingo.jpeg" alt="image" class="w-2/3 h-auto" title="edc-festival">
        </div>
        <div class="flex items-center justify-center">
            <img src="/branches/calvario.png" alt="image" class="w-2/3 h-auto" title="edc-festival">
        </div>
        <div class="flex items-center justify-center">
            <img src="/branches/ZUCARMEX.png" alt="image" class="w-2/3 h-auto" title="edc-festival">
        </div>

    </div>
</div>