---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import MobileMenu from "../components/MobileMenu.astro"
import TopMenu from "../components/TopMenu.astro"
import { ViewTransitions } from "astro:transitions"
import { SEOMetadata } from 'astro-seo-metadata';
interface Props {
	title: string
}

const { title } = Astro.props

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/ico+xml" href="/favicon.ico" />
		<meta name="keywords" content="Abarrotes, lacteos, cerveza, refresco, artículos de limpieza, proveedor, CDMX, cdmx, restaurantes, antros, oficinas">
		<SEOMetadata
			siteName={'muuch-maaya'}
			title={'Casa Maya - Tu proveedor de confianza en CDMX'}
			description={'Tu proveedor de confianza en CDMX. Abarrotes, lacteos, cerveza, refresco, artículos de limpieza, vinos, licores, aganel, desechables, eventos, festivales'}
			image={'/logo.png'}
			favicon={'/favicon.svg'}
			author="Marco Ponce"
			copyright="ISC"
			astroSitemap={true}
			canonicalUrl={Astro.url.toString()}
			type={'website'}
			astroGenerator={true}
			
		/>
		<meta name="color-scheme" content="light dark">
		<meta name="publisher" content="Casa Maya">
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-EDDFQB62K0" is:inline></script>
	<script is:inline>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-EDDFQB62K0');
	</script>
	<body class="bg-white dark:bg-gray-900 min-h-screen pb-32">
		<Header transition:persist>
			<div slot="theme-button" class="mb-6">
				<button
					id="theme-toggle"
				>
				</button>
			</div>
			<div slot="navbar" id="topMenu">
				<TopMenu />
			</div>
		</Header>
			<main class="max-w-5xl px-4 m-auto">
				<slot />
			</main>
		<Footer transition:persist/>
		<div id="mobileMenu">
			<MobileMenu transition:persist />
		</div>
		
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color-scheme: dark light;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

<script>
	document.addEventListener('astro:page-load', () => {
		//variables
		let theme : string | void;

		//components
		const themeToggle = document.querySelector("#theme-toggle") as HTMLButtonElement;

		// functions 
		function getCurrenTheme() {
			let currentTheme = localStorage.getItem("theme") || "light";
			if (currentTheme === "dark") {
				document.documentElement.classList.add("dark");
			}
			return currentTheme;
		}

		function changeTheme() {
			if (theme === "light") {
				document.documentElement.classList.add("dark");
				theme = "dark";
			} else {
				document.documentElement.classList.remove("dark");
				theme = "light";
			}
			themeToggle.innerHTML = theme === "light" ? "🌙" : "☀️";
			window.localStorage.setItem("theme", theme);
		} 

		// set initial theme
		theme = getCurrenTheme();
		themeToggle.innerHTML = theme === "light" ? "🌙" : "🌞";

		


		//listeners 
		themeToggle.addEventListener("click", changeTheme);

		const topMenu = document.querySelector("#topMenu") as HTMLElement;
		const mobileMenu = document.querySelector("#mobileMenu") as HTMLElement;

		function selectNavBar() {
			if (window.innerWidth < 768) {
				topMenu.style.display = "none";
				mobileMenu.style.display = "block";
			} else {
				topMenu.style.display = "block";
				mobileMenu.style.display = "none";
			}
		}

		selectNavBar();

		window.addEventListener("resize", () => {
			selectNavBar();
		});
		

	});

	

	
</script>